{% extends 'base.html' %} {% block content %}
<div class="row row-flex">
    {% for product in products %}
    <div class="col-10 col-offset-1 col-md-6 col-lg-4 card">
        <div class="card-body">
            <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
            <h3>{{ product.name }}</h3>
            <p class="product-description">{{ product.description }}</p>
            <p>{{ product.price }}</p>
            <form method="POST" action="{% url 'add_to_cart' product.id %}">
            {% csrf_token %} 
            <div class="input-group">
                <input type="number" name="quantity" min="1" max="999" class="form-control" placeholder="Quantity">
                <span class="input-group-btn">
                    <button class="btn btn-sm btn-success" type="submit">Add</button>
                </span>
            </div>
            </form>
        </div>
    </div>
    {% endfor %}
    </div>
    {% endblock %}
