{% load staticfiles %}
<html>

<head>
    <!--CSS File-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'font-awesome/css/fontawesome.min.css' %}">
    <!--END-->
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--END-->
    <title>{% block page_title %}{% endblock %}</title>
</head>

<body>


    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <ul class="nav nav-pills">
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'registration' %}">Register</a></li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_cart' %}">
                <i class="fas fa-shopping-cart"></i>Cart
                {% if product_count > 0 %}
                <label class="badge badge-warning">{{ product_count }}</label>
                {% endif %}
            </a>
                </li>
            </ul>
        </div>
    </nav>

    {% if messages %}
    <div class="alert alert-success">
        <div class="messages">
            {% for message in messages %} {{ message }} {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="container">
        <div class="display">
            <form action="{% url 'search' %}" method="get">
                <input type="text" name="q">
                <button type="search">Search</button>
            </form>
        </div>
        {% block content %} {% endblock %}
    </div>
    <footer>
        <div class="container">
            <p>Made by Code Institute bootcampers</p>
        </div>
    </footer>
</body>


</html>
